
ADMIN_TOKEN=TMP_ADMIN_TOKEN
CLIENT_TOKENS=TMP_CLIENT_TOKEN_1,TMP_CLIENT_TOKEN_2
#REQUIRE_SIGNED_KEY=1
#LOG_AUTH_KEYS_URL=http://remote/log
#LOG_AUTH_KEYS_TOKEN=

##########################
#
# DATABASE
# default: sqlite
#
##########################

#DB_ENGINE=sqlite
#DB_STORAGE=data/theo.db

#DB_ENGINE=mariadb
#DB_HOST=127.0.0.1
#DB_USER=DATABASE_USERNAME
#DB_PASSWORD=DATABASE_PASSWORD
#DB_NAME=DATABASE_NAME

##########################
#
# CACHE
# default: disabled
#
##########################

#CACHE_ENABLED=memcached
#CACHE_URI=localhost:11211
#CACHE_OPTIONS=

#CACHE_ENABLED=redis
#CACHE_URI=redis://localhost:6379
#CACHE_OPTIONS=
