{
  "admin": {
    "token": "TMP_PASSWORD"
  },
  "client": {
    "tokens": ["njknsjd2412fnjkasnj","knkjnknfjfnjenkln"]
  },
  "sqlite": {
    "path": "./data/theo.db"
  },
  "server": {
    "http_port": 8890
  }
}