{
  "admin": {
    "token": "TMP_PASSWORD"
  },
  "client": {
    "tokens": [
      "njknsjd2412fnjkasnj",
      "knkjnknfjfnjenkln"
    ]
  },
  "db": {
    "engine": "sqlite",
    "storage": "./data/theo.db"
  },
  "server": {
    "http_port": 8890
  }
}